CLERK_PUBLISHABLE_KEY=pk_test_c2FmZS1sZW9wYXJkLTg2LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_h21ZQrPVjJop5jpCMrpuYOn0E00a7zxw8zKwU31U3e
DATABASE_URL="postgresql://neondb_owner:npg_NiIa7u2cCGdE@ep-rapid-haze-a41ies2l-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
FRONTEND_URL=http://localhost:3000
PORT=8080
REDIS_TOKEN=AYqyAAIncDExYmM2MTQ0MGFlNWE0NDg4OTE3NzM0MTdlMzRkMTA4Y3AxMzU1MDY
REDIS_URL=rediss://default:AYqyAAIncDExYmM2MTQ0MGFlNWE0NDg4OTE3NzM0MTdlMzRkMTA4Y3AxMzU1MDY@thankful-bat-35506.upstash.io:6379